* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    background-color: #efeaea;
}

section[id="navbar"] {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #333;
    z-index: 1;

}

section[id="navbar"] ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px;
}

section[id="navbar"] a {
    color: white;
    text-decoration: none;
}

section[id="main"] {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px);
}

.vertical-category {
  position: absolute;
  top: 50px; /* adjust this value to position it below the navbar */
  left: 0;
  width: auto;
  height: calc(96vh - 50px); /* calculate the height of the screen minus the navbar height */
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
}

.vertical-category h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

.vertical-category ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.vertical-category li {
  margin-bottom: 10px;
}

.vertical-category a {
  text-decoration: none;
  color: #337ab7;
}

.vertical-category a:hover {
  color: #23527c;
}

#main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.info-category {
    position: absolute;
    top: 50px;
    left: 200px;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    overflow: auto;
}

.info-category h2, p {
    margin-top: 0;
    color: #333;
}

.category-container {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
}

.category-title {
  display: inline-block;
  width: 100%;
}

.category-title h2 {
  text-align: center;
}

.category-container a {
  color: #337ab7;
  text-decoration: none;
}